.detail-container {
    display: flex;
    max-width: 70vw;
    margin: 2rem auto;
    gap: 2rem;
}

.image-container,
.details {
    flex: 1 1 50%;
}

.image-container img{
    border-radius: 5px;
}

.back-link {
    background-color: #0e5f0e;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.details .label {
 background-color: lightgreen;
 font-weight: bold;
 padding:0.3rem 0.3rem;
 border-radius: 5px;
}