.cocktail-element {
    max-width: 30%;
    padding: 0.5rem;
    border-radius: 5px;
    background: #deb8871f;
}

.detail-link {
    background-color: hsl(120, 74%, 21%);
    border-radius: 5px;
    padding:0.5rem;
    color: white;
    /* font-weight: bold; */
    text-transform: uppercase;
}
/* 
.detail-link:hover {
    background-color: #83d483;
    color: black;
} */